.icon1{
    margin-left: 90%;
    font-size: xx-large;
}
.head{
    display: flex;
    gap: 20px;
    margin-left: 200px;
}
.box1 h1{
 font-size: 100px;
}
.box1 h2{
    font-size:50px ;
}
.img1 img{
    border: 20px solid wheat;
    border-radius: 50%;
    width: 500px;
    height: 500px;
}

.main1{
    display: flex;
    margin-left: 100px;
    gap: 20px;
}
.box2 h1{
 font-size: 50px;
}
.box2 p{
 font-size: 20px;
}
.box3 {
    width: 1px;
    height: 80vh;
    border: 1px solid black;
}
.box4 h1{
    font-size: 30px;
}
.box4 p {
    font-size: 20px;
}
